<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="repeatController">
            <label> Selection de Pokemon
            <select name="recherche" ng-model="pokemonreserch">

                <option value="{{pokemons.nom}}"  ng-repeat="pokemons in pokemon | filter:pokemons.nom" >  {{pokemons.nom}}</option>

            </select>
                {{pokemonreserch}}
            </label>
            <br>
            <button ng-click="log.log(pokemonreserch)">
                Go!
            </button>

        </div>

		<!-- Pokémon information -->
        <label>Pokemon :

        </label><input type="text" name="input" ng-model="pokemons.nom">
		<div></div>
        <label>
        text = {{pokemons.nom}}<br/>
        </label>
	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
